*{
  margin:0;
  padding:0;
  list-style: none;
  box-sizing: border-box;
}
html,body,.box,#root {
  width: 100%;
  height:100%;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
}
.box{
  display: flex;
  flex-direction: column;
}
header{
  width:100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content:space-between;
  padding: 0 20px;
}
header>span{
  font-size: 18px;
}
section{
  width: 100%;
  flex: 1;
  overflow: auto;
}
.progress{
  width: 100%;
  >img{
    width: 100%;
    display: block;
  }
}
section>img{
  width: 100%;
  display: block;
}
section>.uploadPictures{
  width:100%;
  height: 120px;
}
section>.uploadPictures>.ullist{
  display: flex;
}
section>.uploadPictures>.ullist>li{
  flex: 1;
}
section>.uploadPictures>.ullist>li>p{
  margin: 8px;
  border:1px solid #ccc;
  border-radius: 13px;
}
section>.uploadPictures>.ullist>li>p>img{
  padding:8px;
  margin-left: 5px;
}
section>.uploadPictures>.ullist>li>span{
  margin: 0 15px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
footer{
  width: 100%;
  height: 60px;
  line-height: 60px;
  >div:nth-child(1){
    width: 65px;
    height: 65px;
    background: #fff;
    position: fixed;
    right: 15px;
    bottom: 65px;
    border-radius: 50%;
    overflow: hidden;
    >img{
      width: 65px;
      height: 65px;
    }
  }
  >div:nth-child(2){
    width: 100%;
    height: 100%;
    display: flex;
    padding-left:15px;
    justify-content: space-between;
    >p{
      font-size: 16px;
      >b{
        color: #f00;
        font-size: 18px;
      }
    }
    >button{
      border:0;
      padding: 0 20px;
      background: #ccc;
      font-size: 16px;
      color: #fff;
    }
  }
}
.line{
  height: 15px;
  background: #eee;
}
.contentbox{
  width: 100%;
  padding: 0 10px;
}
.contentbox>.ollist{
  width: 100%;
}
.contentbox>.ollist>li{
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #ccc;
  >div{
    display: flex;
    height: 100%;
    align-items: center;
    >img{
      margin-left: 5px;
    }
  }
}
.reissue,.sign{
    color: #999;
}
.contentbox>.ollist>li:nth-child(3){
  border:0;
}
.contentbox>.ollist>li:nth-child(4){
  border:0;
}
.money{
  color: #f00;
}
.youhui{
  width: 100%;
  height: 55px;
  line-height: 55px;
  padding: 0 10px;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
    >div{
      display: flex;
      height: 100%;
      align-items: center;
      >img{
        margin-left: 5px;
      } 
  }
}
.questy{
  width: 100%;
  height: 100px;
  background: #eee;
  >a{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #03A9F4;
    text-decoration-line: underline;
    font-size: 16px;
  }
}