.deloage{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top:0;
    left:0;
    z-index: 200;
}
.deloage>div:nth-child(1){
    width: 100%;
    padding: 100px 20px;
}
.deloage>div:nth-child(1)>img{
    width: 100%;
    box-sizing: border-box;
}
.uploade{
    width: 100%;
    display: inline-block;
    margin-top: 4rem;
}
.bottom{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    border-radius: 5px;
}
.bottom>a{
    width: 100%;
    background: #fff;
    outline: none;
    color: #5dacf6;
    margin:8px 0;
}

ul.list{
    width: 100%;
    height: 5rem;
    background: #fff;
    outline: none;
    color: #5dacf6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.list>li{
    width: 100%;
    height: 2.5rem;
    background: #fff;
    outline: none;
    color: #5dacf6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list>li:first-child{
    border-bottom:  1px solid #ccc;
}